.footer {
  background: #343434;
  padding-top: 20px;
  font-size: 16px;
  color: white;
  overflow: hidden;
}

.footer-content p {
  color: rgb(194, 185, 185);
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 16px;
}

.footer-content {
  margin-bottom: 20px;
  width: 100%;
  max-width: 250px;
  box-sizing: border-box;
  text-align: center;
}

h3 {
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
  color: rgb(252, 190, 8);
}

.list li {
  list-style-type: none;
  padding: 7px;
  position: relative;
}

.list a {
  color: white;
  text-decoration: none;
}

.list li::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 80%;
  width: 0;
  height: 2px;
  background: rgb(252, 190, 8);
  transition-duration: 0.5s;
}

.list a:hover {
  color: rgb(252, 190, 8);
}

.social-icons {
  text-align: center;
}

.social-icons li {
  display: inline-block;
  padding: 5px;
}

.social-icons a {
  color: white;
  font-size: 25px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: rgb(252, 190, 8);
}

.bottom-bar {
  background: rgb(252, 190, 8);
  text-align: center;
  padding: 10px 0;
}

.bottom-bar p {
  color: #343434;
  margin: 0;
  font-size: 16px;
  padding: 7px;
}

.icons {
  width: 35px;
  height: 25px;
  color: rgb(253, 253, 253);
}

.con {
  max-width: 1200px;
  margin: auto;
}

/* Media Querys */
@media (max-width: 768px) {
  .container {
    justify-content: center;
  }

  .footer-content {
    width: 100%;
    max-width: none;
  }

  .footer-content h3,
  .footer-content p {
    text-align: center;
  }

  .social-icons li {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer-content {
    padding: 0 20px;
  }

  h3 {
    font-size: 24px;
  }

  .bottom-bar p {
    font-size: 14px;
  }
}
