* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  line-height: 1.8;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

:hover.footerIcons {
  width: 35px;
  height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(252, 190, 8);
  transition-duration: 0.3s;
}
