.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  color: black;
}
.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  color: black;
}

.sliderStyles {
  position: relative;
  height: 100%;
}

.dotsContainerStyles {
  display: flex;
  justify-content: center;
}

.dateContainer {
  margin-bottom: 50px;
}

.date {
  display: flex;
  align-items: center;
}

.date h1 {
  font-size: 22px;
}

.date p {
  margin-right: 25px;
  font-weight: 600;
}

.details {
  padding: 10px;
}
